/* App.css */


  .app-container {
    max-width: 100%;
   
    padding-left: 5%;
     margin: auto;
  }
  

  /* Main Heading */
  .main-heading {
    padding-top: 5%;
    text-align: left;
    margin-bottom: 40px;
  }
  .main-heading h1{
    font-size: 45px;
    font-weight: 400;
  }

  .image-grid {
    height: 70%;
    width: 70%;
    display: flex;
    justify-content: space-between;
  }

  .image-grid img {
    height: 80%;
    width: 80%;
    padding-left: 20%;
    object-fit: cover;
  }

  .main-heading h1 {
    font-size: 2rem;
    font-weight: 600; /* Semibold */
    line-height: 1.4;
  }

  /* Image Row */
  .image-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
  }

  .image-item {
    flex: 1;
    overflow: hidden;
    border-radius: 10px;
  }

  .image-item img {
    width: 95%;
    height: 95%;
    display: block;
    object-fit: cover;
    border-radius: 10px;
  }

  /* Paragraphs */
  .text-section {
    margin-top: 20px;
  }

  .text-section p {
    margin-bottom: 20px;
    line-height: 1.6;
  }

@media (max-width: 768px) {
  .text-section{
    width: 90%;
  }
  html, body{
    overflow-x: hidden;
  }
}
