.Contact-main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2% 8%;
  flex-direction: row;
}

.co-text1 {
  flex-basis: 60%; /* Adjust width as needed */
  text-align: left;
  font-size: 55px;
  height: 22.6%;
  width: 70%;
  color: white;
}
.left-side-content {
  padding: 5%;
}
.co-text1 h1 {
  font-size: 55px;
}

.co-text1 p {
  color: white;
  font-size: 20px;
}

.left-side-image {
  flex-basis: 45%; /* Adjust width as needed */
}

.left-side-image img {
  /* Adjust to fit the container */
  padding-top: 40%;
  padding-right: 20%;
  width: 425px;
  height: 590px; /* Maintain aspect ratio */
}

.forms {
  margin-top: 20px;
}

.Our-Team h2 {
  margin-bottom: 20px;
  font-size: 32px;
}
@media (max-width: 768px) {
  .Contact-main {
    flex-direction: column;
  }
  .left-side-content {
    padding: 0px;
  }
  .co-text1 h1 {
    font-size: 2.5rem;
  }
  .Our-Team h2 {
    color: whitesmoke;
  }
  .forms{
    width: 80%;
  }
  .form-row {
    flex-direction: column;
    padding-top: 20px;
  }
  .left-side-image{
    width: 90%;
    align-self: flex-start;
  }
  .left-side-image img {
    width: 100%;
  }
}
