body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; /* Ensures the body takes the full height of the viewport */
    background-color: #000; /* Optional background color */
  }
  
  .gradient-container {
    display: flex;
    justify-content: flex-start; /* Align to the left */
    align-items: center;
    width: 100%;
    height: 100%;
    max-height: 90vh; /* Maximum height set to 90% of the viewport height */
    position: relative;
  }
  
  .gradient-circle {
    position: absolute; /* Position the circle relative to its container */
    width: 50vh; /* Adjust width as needed */
    height: 50vh; /* Adjust height as needed */
    border-radius: 50%;
    background: #00D5FF;
    filter: blur(200.15px);
    left: -100.5vh; /* Move the circle half out of the screen (since its width is 65vh, half of it is 32.5vh) */
  }
  