@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

.nav-wrapper {
  position: relative;
}

.nav-logo {
  position: relative;
  top: 0;
  left: 12%;
  margin: 1rem;
  width: 70px;
}

.nav-item-link {
  color: inherit;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e1e1e;
  padding: 1rem;
  border-radius: 20px;
  width: fit-content;
  margin: 0 auto;
  position: fixed;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 5rem;
  margin: 0;
  padding: 0 3rem 0 3rem;
}

.nav-item {
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  transition: color 0.3s;
  font-family: 'Montserrat', sans-serif;
}

.nav-item:hover {
  color: #aaaaaa;
}
@media (max-width: 768px) {
  .navbar{
    max-width: 300px;
  }
  .nav-item {
    color: white;
    cursor: pointer;
    font-size: 1rem;
    transition: color 0.3s;
    font-family: 'Montserrat', sans-serif;
  }
  .nav-list {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0 3rem 0 3rem;
  }
}